// ---------------------------
// Typography and text styles
// ---------------------------

//
// ---------------------------

// Headings
// ---------------------------


p {
  font-family: "Open Sans";
  font-size: 1.8rem;
    color: $active;
   background: $prime;
   
}
