// ---------------------------
// Global variables
// ---------------------------

// Colors
// ---------------------------

// Gray
$black: 		#000;
$darkGray: 		#65615d;
$darkDarkGray:  #241e18;
$gray: 			#75726e;
$white: 		#fff;

// Blue
$blue: 			#00cdff;
$blueDark:		#002366;
$blueLight:		#99e6f9;


// Red
$purple: 		#7f0ad1;
$purpleDark:  	#590ad1;
$purplelight: 	#8629f9;


// Green
$orange: 		#eace6a;
$orangeDark:  	#e8c033;
$orangelight: 	#f8e190;


// Brand colors
$prime: $blue;
$primeDark: $blueDark;
$primeLight: $blueLight;

$second: $orange;
$secondDark: $orangeDark;
$secondlight: $orangelight;

$active: $purple;
$activeDark: $purpleDark;
$activeLight: $orangelight;



// Hover effects
$hoverEffect: 10%;

// Size
$mainContainer: 140rem;

// Indents updated
// --------------------------------------------------
$containerHorIndent: 11.5rem;
$containerVerIndent: 10rem;

// Indents updated
// --------------------------------------------------
$containerHorIndentMobile: 3%;
$containerVerIndentMobile: 4rem;
